    <li>
    <div class="member-entry m-2 "> 
        <div class="member-details"> 
            <h4 id="business" >{{b_name}}</h4> 
            <p>{{b_username}}</p>
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <h6>Who we are:</h6>
                    {{b_description}}
                </div> 
                
                <div class="col-sm-4"> 
                    <h6>How to reach us:</h6>
                    <a href="#">{{b_email}}</a> 
                </div> 
                <div class="col-sm-4"> 
                    <h6>Accommodations for:</h6> 
                    <br>
                    <p> {{accommodations}}</p>
                </div>
                <div class="col-sm-10 text-center"> 
                    <h6>User Suggestions:</h6>
                    <ol>
                        {{#each suggestions}}
                        {{> suggestion-card}}
                        {{/each}}
                    </ol>
                    <form id="b-suggestion" class="b-suggestion-form">
                        <div>
                            <textarea name="b-suggestion-body"></textarea>
                        </div>

                        <div>
                            <button type="submit">add suggestion</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div> 
    </div>
    </li>
