    <li>
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="{{logo_url}}" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4>{{b_name}}</h4> 
            <p>{{b_username}}</p>
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"> Who we are:</i>
                    <br>
                    {{b_description}}
                </div> 
                
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"> How to reach us:</i> 
                    <br>
                    <a href="#">{{b_email}}</a> 
                </div> 
                <div class="col-sm-4"> 
                    <i class="fa fa-handshake-angle"> Accommodations for:</i>
                    <br>
                    <p>{{impairs.[0].impairment}}</p>
                </div>
                <div class="col-sm-4"> 
                    <i class="fa fa-handshake-angle"> User Suggestions:</i>
                    <br>
                    <p>{{ suggestions.[0].suggestion_text}}</p>
                </div>
            </div> 
        </div> 
    </div>
    </li>
