    <li>
    <div class="member-entry m-2 "> 
        <div class="member-details"> 
            <h4>{{b_name}}</h4> 
            <h5>{{b_username}}</h5>
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <h6>Who we are:</h6>
                    {{b_description}}
                </div> 
                
                <div class="col-sm-4"> 
                    <h6>How to reach us:</h6>
                    <a href="#">{{b_email}}</a> 
                </div> 
                <div class="col-sm-4"> 
                    <h6>Accommodations for:</h6> 
                    <br>
                    <p> {{accommodations}}</p>
                </div>
                <div class="col-sm-10 text-center"> 
                    <h6>User Suggestions:</h6>
                    <br>
                    <p>{{ suggestions.[0].suggestion_text}}</p>
                </div>
            </div> 
        </div> 
    </div>
    </li>
{{!-- {{impairs.[0].impairment}} --}}