<article class="suggestion">
  <div class="title">
    <h4>{{suggestion_text}} </h4>
  </div>
  <div class="meta">
    {{vote_count}} point(s) created by {{user.username}} on
        {{created_at}} for {{b_name}}
    |
    <a href="/suggestion/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>