<li>
        
    <div class="member-entry"> 
        
        <div class="member-details"> 
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <h4>{{first_name}} &nbsp {{last_name}}</h4>
                    <i class="fa fa-briefcase"></i>
                    {{description}}
                </div> 
                
                <div class="col-sm-4"> 
                    <h4>Email</h4>
                    <i class="fa fa-envelope"></i> 
                    <a href="#">{{email}}</a> 
                </div> 
                <div class="col-sm-4"> 
                    <h4>Impairment</h4>
                    {{impairs.[0].impairment}}
                </div>
            </div> 
        </div> 
    </div>
    </li>