<li>
        
    <div class="member-entry"> 
        <a href="#" class="member-img"> 
            <img src="{{logo_url}}" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4>{{first_name}}</h4>
            <h4>{{last_name}}</h4>  
            <div class="row info-list"> 
                <div class="col-sm-4"> 
                    <i class="fa fa-briefcase"></i>
                    {{description}}
                </div> 
                
                <div class="col-sm-4"> 
                    <i class="fa fa-envelope"></i> 
                    <a href="#">{{email}}</a> 
                </div> 
                <div class="col-sm-4"> 
                    <p>{{email}}</p> 
                </div>
            </div> 
        </div> 
    </div>
    </li>