<article class="post">
  <div class="title">
    {{suggestion.suggestion_text}}</a>
  </div>
  <div class="meta">
     Created on
    {{suggestion.created_at}}
    |
    <a href="/suggestion/{{suggestion.id}}">{{suggestion.comments.length}} comment(s)</a>
  </div>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<div class="comments">
  {{#each suggestion.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/comment.js"></script>