<ol class="post-list">
  {{#each suggestions as |suggestion|}}
  <li>
    <article class="post">
      <div class="title">
       <p>  {{suggestion_text}}  </p>
      </div>
      <div class="meta">
        created by {{suggestion.user.username}} on
        {{suggestion.created_at}}
        |
        <a href="/post/{{suggestion.id}}">{{suggestion.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

